
body {
    font-family: 'Julius Sans One', sans-serif;
    background-color: #e8f5e9;
    color: #333; 
    line-height: 1.6;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center;
}

/* Box */
main {
    padding: 20px;
    width: 60%;
    max-width: 800px; 
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #80b192; /* Header*/
    font-size: 2em;
    margin-top: 0;
}

footer {
    background-color: #80b192; /* footer */
    color: #fff; 
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive jargin */
@media (max-width: 768px) {
    h2 {
        font-size: 1.8em;
    }

    main {
        width: 90%; 
    }
}
